<div class="lat row">
    <div class="d-flex flex-column justift-content-between min-vh-100 menu">
        <div class="contenido mt-4">
            <ul class="nav nav-pills flex-column mt-2 mt-sm-0" id="menu">
                <!--USUARIOS-->
                <li class="nav-item my-sm my-2">
                    <a class="btn border-none outline-none text-white dropdown-toggle" type="button" id="triggertId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-users"></i>
                        <span class="ms-3 d-none d-sm-inline">Usuarios</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a href="/usuario-alta" class="dropdown-item">Alta</a>
                        <a href="/usuario-actualizar" class="dropdown-item">Actualizar</a>
                        <a href="/usuario-eliminar" class="dropdown-item">Eliminar</a>
                    </div>
                </li> 
                <!--LIBROS-->
                <li class="nav-item my-sm my-2">
                    <a class="btn border-none outline-none text-white dropdown-toggle" type="button" id="triggertId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-book"></i>
                        <span class="ms-3 d-none d-sm-inline">Libros</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a href="/libro-alta" class="dropdown-item">Alta</a>
                        <a href="/libro-actualizar" class="dropdown-item">Actualizar</a>
                        <a href="/libro-eliminar" class="dropdown-item">Eliminar</a>
                    </div>
                </li>
                <!--PRESTAMOS-->
                <li class="nav-item my-sm my-2">
                    <a class="btn border-none outline-none text-white dropdown-toggle" type="button" id="triggertId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                        <span class="ms-3 d-none d-sm-inline">Préstamos</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a href="/prestamo" class="dropdown-item">Préstamo </a>
                        <a href="/devolucion" class="dropdown-item">Devolución</a>
                    </div>
                </li> 
                <!--CONSULTAR-->
                <li class="nav-item my-sm my-2">
                    <a class="btn border-none outline-none text-white dropdown-toggle" type="button" id="triggertId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-search"></i>
                        <span class="ms-3 d-none d-sm-inline">Consultar</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a href="/consultar" class="dropdown-item">Libro</a>
                    </div>
                </li> 
            </ul>
        </div>
    </div>
</div>
