<div class="container-fluid">
    <div class="row"> <!-- CUERPO -->
        <div class="lat col-sm-2 ml"> <!-- MENÚ LATERAL-->
            <app-lateral></app-lateral>
        </div> <!-- CIERRA MENÚ LATERAL-->
        <div class="con col-sm-10"> <!-- CONTENIDO-->
            <form #usuarioForm="ngForm" (ngSubmit)="getByIdUsuario(usuariosService.usuario.id_usuario)">
                <div class="row aling-items-center ti">
                    <p>Eliminar Usuario</p>
                </div>
                <div class="row align-items-center d-usuario"> <!-- DATOS PARA BUSCAR USUARIO-->
                    <div class="col-sm-11 tdatos">
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="id-usuario" class="col-form-label">ID Usuario:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="id-usuario" class="form-control" placeholder="Ingresa ID usuario" name="id_usuario" [(ngModel)]="usuariosService.usuario.id_usuario" >
                            </div>
                            <div class="col-sm-3 boton align-items-center">
                                <button type="submit" id="buscar" class="btn btn-warning">
                                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>  Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                <hr>
            <form  #libroEliminarForm="ngForm" (ngSubmit)="deleteUsuario(usuariosService.usuario.id_usuario)"> 
                    <div class="d-usuario row align-items-center"> <!-- DATOS USUARIO-->
                    <div class="col-sm-11 tdatos">
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="id-usuario2" class="col-form-label">ID Usuario:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="id-usuario2" class="form-control" placeholder="Ingresa ID usuario" name="id_usuario" [(ngModel)]="usuariosService.usuarios[0].id_usuario">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="nombre" class="col-form-label">Nombre:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="nombre" class="form-control" placeholder="Ingresa nombre" name="nombre" [(ngModel)]="usuariosService.usuarios[0].nombre">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="ap-p" class="col-form-label">Apellido paterno:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="ap-p" class="form-control" placeholder="Ingresa apellido paterno" name="ap-p" [(ngModel)]="usuariosService.usuarios[0].ap_paterno">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="ap-m" class="col-form-label">Apellido materno:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="ap-m" class="form-control" placeholder="Ingresa apellido materno" name="ap-m" [(ngModel)]="usuariosService.usuarios[0].ap_materno">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="rol" class="col-form-label">Rol:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-select" id="rol" name="rol" [(ngModel)]="usuariosService.usuario.rol" >
                                    <option selected>Selecciona rol..</option>
                                    <option value="1">Bibliotecario</option>
                                    <option value="2">Profesor</option>
                                    <option value="3">Alumno</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="carrera" class="col-form-label">Carrera:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-select" id="categoria" placeholder="Selecciona categoría" name="id_categoria" [(ngModel)]="usuariosService.usuarios[0].id_carrera">
                                    <option selected >Selecciona categoría...</option>
                                    <option *ngFor="let item of carrerasService.carreras" [value]="item.id_carrera">{{item.carrera}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="correo" class="col-form-label">Correo Electrónico:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="correo" class="form-control" placeholder="Ingresa correo electrónico" name="correo" [(ngModel)]="usuariosService.usuarios[0].correo">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="contra" class="col-form-label">Contraseña:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="password" id="contra" class="form-control" placeholder="Ingresa contraseña" name="contrasena" [(ngModel)]="usuariosService.usuarios[0].contrasena">
                            </div>
                        </div>
                        <div class="row boton"> <!-- BOTÓN ELIMINAR-->
                            <button type="submit" class="btn btn-warning">
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i> Eliminar
                            </button>
                        </div>
                    </div>
                </div> <!-- CIERRA DATOS USUARIO-->
            </form>
        </div> <!-- CIERRA CONTENIDO-->
    </div>
</div>