@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
.main-container {
  min-height: 100vh;
}

footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav-sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

body{
  background-color: #F9E7CF;
}